
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Experience the pinnacle of event management with "EventMaster Pro." Our platform revolutionizes event planning by providing an intuitive interface, powerful planning tools, and seamless collaboration features. Whether orchestrating corporate conferences, weddings, or social gatherings, EventMaster Pro empowers you to effortlessly create, manage, and execute memorable events. Elevate your event planning experience with EventMaster Pro, where every detail is meticulously curated for your success.
          </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Teachnologies Used</h6>
          <ul class="footer-links">
            <li><a href="#">ReactJSt</a></li>
            <li><a href="#">MongoDB</a></li>
            <li><a href="#">JS</a></li>
            <li><a href="#">Express</a></li>
            <li><a href="#">NodeJS</a></li>
            <li><a href="#">CSS</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved
       
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/holder.min.js"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
  <script src="/path/to/cdn/moment.min.js"></script>
  <script src="https://kit.fontawesome.com/52d0a984a1.js" crossorigin="anonymous"></script>
  <script src="js/script.js">  </script>
</body>
</html>
